<div class="container-fluid py-5 text-center profile-page" style="margin-top: 50px;">
    <h1 class="font-righteous page-title border-bottom border-3">Acara</h1>
    <!-- <img src="assets/img/himatif_trbg.png" alt="" class="page-logo my-4"> -->

    <div class="berita">
        <div class="row py-3 rounded">
            <div class="col-lg-9 pb-3 text-center rounded mx-auto">
                <div class="row px-3 px-lg-0 mx-auto">
                    <div class="col-lg-7 acara-img mt-lg-4">
                        <img src="assets/img/asomatif_reg.png" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>
    
                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 pb-md-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded border">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">ASOMATIF 2020</h5>
                            <h6 class="bg-white text-start text-dark-blue fw-bold rounded py-1 text-center mx-auto w-50">Coming Soon</h6>
                        </div>
                        <div class="acara-explain">
                            <p class="px-3 py-2">
                                Ayo ikuti kegiatan tahunan khusus mahasiswa angkatan 2020 Teknik Informatika UIN SUSKA RIAU!
                                Bersama kita pupuk kebersamaan dan juga persatuan mahasiswa TIF
                            </p>
                        </div>
                        <button type="button" class="btn btn-outline-light border-3 px-3 text-white mb-3 mt-lg-2 my-lg-0" data-bs-toggle="modal" data-bs-target="#acaraDetail1">Selengkapnya / Daftar</button>
                        <div class="modal fade" id="acaraDetail1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content text-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold text-dark-blue text-start" id="staticBackdropLabel">ASOMATIF 2020</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        <p style="text-align: justify;">
                                            Ayo ikuti kegiatan tahunan khusus mahasiswa angkatan 2020 Teknik Informatika UIN SUSKA RIAU!
                                            Bersama kita pupuk kebersamaan dan juga persatuan mahasiswa TIF
                                        </p>
    
                                        <p class="pt-3"><span class="fw-bold">Tanggal Daftar:</span> 24 Des 2021 - 13 Jan 2022</p>
                                        <p><span class="fw-bold">Biaya:</span> Rp.200.000</p>
                                        <p><span class="fw-bold">Batas Pembayaran:</span> 13 Jan 2022</p>
    
                                        <p class="fw-bold pt-3">Benefit</p>
                                        <p>Transportasi</p>
                                        <p>Konsumsi</p>
                                        <p>Baju asomatif</p>
                                        <p>Stiker</p>
                                        <p>Dokumentasi</p>
                                        <p>Sertifikat</p>
                                        <p>Ilmu yang bermanfaat</p>
                                        <p>Teman baru</p>
                                        <p>Point laboratorium</p>
    
                                        <p class="fw-bold pt-3">Tutorial pembayaran untuk pendaftaran Asomatif</p>
                                        <p>Bank BRI: 5521-01-011996-538</p>
                                        <p>Atas Nama: Welvia ningsih</p>
                                        <br>
                                        <p>Dana: 082284679391</p>
                                        <p>Atas Nama: Welvia ningsih</p>
                                        <p><strong>Note: </strong>Kirim bukti ss ke nomor wa itu juga yaa</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary rounded" data-bs-dismiss="modal">Tutup</button>
                                        <a href="http://s.id/asomatif2020">
                                            <input type="button" class="btn bg-dark-blue text-light" value="Daftar" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-3 rounded">
            <!-- <div class="col-lg-3 text-center acara-title text-white pt-2 py-lg-0">
                <h1 class="font-righteous">Akan dimulai</h1>
                <p class="font-ruda">Join Us!
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-angle-fill" viewBox="0 0 16 16">
                            <path d="M9.828.722a.5.5 0 0 1 .354.146l4.95 4.95a.5.5 0 0 1 0 .707c-.48.48-1.072.588-1.503.588-.177 0-.335-.018-.46-.039l-3.134 3.134a5.927 5.927 0 0 1 .16 1.013c.046.702-.032 1.687-.72 2.375a.5.5 0 0 1-.707 0l-2.829-2.828-3.182 3.182c-.195.195-1.219.902-1.414.707-.195-.195.512-1.22.707-1.414l3.182-3.182-2.828-2.829a.5.5 0 0 1 0-.707c.688-.688 1.673-.767 2.375-.72a5.922 5.922 0 0 1 1.013.16l3.134-3.133a2.772 2.772 0 0 1-.04-.461c0-.43.108-1.022.589-1.503a.5.5 0 0 1 .353-.146z" />
                        </svg>
                    </span>
                </p>
            </div> -->
    
            <div class="col-lg-9 pb-3 text-center mx-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-4">
                        <img src="assets/img/webinar-flyer-example.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>
    
                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 pb-md-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded border">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Webinar Web Front-End</h5>
                            <h6 class="bg-white text-start text-dark-blue fw-bold rounded py-1 text-center mx-auto w-50">1 Desember 2021</h6>
                        </div>
                        <div class="acara-explain">
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button type="button" class="btn btn-outline-light border-3 px-3 text-white mb-3 mt-lg-2 my-lg-0" data-bs-toggle="modal" data-bs-target="#acaraDetail">Selengkapnya / Daftar</button>
                        <div class="modal fade" id="acaraDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content text-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold text-dark-blue text-start" id="staticBackdropLabel">Webinar Web Front-End</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minus, dicta asperiores porro quam perspiciatis laudantium sequi sapiente accusantium aperiam ipsa non amet sed. Saepe, ducimus voluptas. Cum, amet odio.</p>
    
                                        <p class="pt-3"><span class="fw-bold">Hari/Tanggal:</span> Kamis, 1 Desember 2021</p>
                                        <p><span class="fw-bold">Pukul:</span> Kamis, 1 Desember 2021</p>
                                        <p><span class="fw-bold">Webinar Via:</span> Google Meet</p>
                                        <p><span class="fw-bold">Registrasi:</span> Free</p>
    
                                        <p class="fw-bold pt-3">Fasilitas & Benefit</p>
                                        <p>E-Certificate</p>
                                        <p>Relasi</p>
                                        <p>Meeting Record</p>
                                        <p>Bahan Materi dari Narasumber</p>
                                        <p>Doorprize Bagi 5 Orang yang Beruntung</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                        <button type="button" class="btn bg-dark-blue text-light">Daftar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row py-3 rounded">
            <div class="col-lg-9 pb-3 text-center mx-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-4">
                        <img src="assets/img/webinar-flyer-example.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>
    
                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 pb-md-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded border">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Webinar Web Front-End</h5>
                            <h6 class="bg-white text-start text-dark-blue fw-bold rounded py-1 text-center mx-auto w-50">1 Desember 2021</h6>
                        </div>
                        <div class="acara-explain">
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button type="button" class="btn btn-outline-light border-3 px-3 text-white mb-3 mt-lg-2 my-lg-0" data-bs-toggle="modal" data-bs-target="#acaraDetail">Selengkapnya / Daftar</button>
                        <div class="modal fade" id="acaraDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content text-dark">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold text-dark-blue text-start" id="staticBackdropLabel">Webinar Web Front-End</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-start">
                                        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti minus, dicta asperiores porro quam perspiciatis laudantium sequi sapiente accusantium aperiam ipsa non amet sed. Saepe, ducimus voluptas. Cum, amet odio.</p>
    
                                        <p class="pt-3"><span class="fw-bold">Hari/Tanggal:</span> Kamis, 1 Desember 2021</p>
                                        <p><span class="fw-bold">Pukul:</span> Kamis, 1 Desember 2021</p>
                                        <p><span class="fw-bold">Webinar Via:</span> Google Meet</p>
                                        <p><span class="fw-bold">Registrasi:</span> Free</p>
    
                                        <p class="fw-bold pt-3">Fasilitas & Benefit</p>
                                        <p>E-Certificate</p>
                                        <p>Relasi</p>
                                        <p>Meeting Record</p>
                                        <p>Bahan Materi dari Narasumber</p>
                                        <p>Doorprize Bagi 5 Orang yang Beruntung</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                        <button type="button" class="btn bg-dark-blue text-light">Daftar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>