<div class="container-fluid py-5 text-center profile-page" style="margin-top: 50px;">
    <h1 class="font-righteous page-title border-bottom border-3 mb-4 mb-lg-5">Galeri</h1>

    <div class="row px-md-3">
        <div class="col-lg-6 mt-3 mb-4">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif1.jpg" alt="" class="mb-3 shadow">
                    </div>
                    <div class="carousel-item gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif2.jpg" alt="" class="mb-3 shadow">
                    </div>
                    <div class="carousel-item gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif3.jpg" alt="" class="mb-3 shadow">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon ms-lg-5" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon me-lg-5" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div>
                <h1 class="px-2 px-md-4 px-lg-5">Lorem</h1>
                <p style="text-align: justify;" class="px-2 px-md-4 px-lg-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="col-lg-6 mb-4 mt-lg-3">
            <div class="gallery mb-3">
                <img src="assets/img/kurmatif2.jpg" alt="" class="shadow">
            </div>

            <div>
                <h1 class="px-2 px-md-4 px-lg-5">Lorem</h1>
                <p style="text-align: justify;" class="px-2 px-md-4 px-lg-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>



    <div class="row px-md-3">
        <div class="col-lg-6 mb-4">
            <div class="gallery mb-3">
                <img src="assets/img/kurmatif2.jpg" alt="" class="shadow">
            </div>

            <div>
                <h1 class="px-2 px-md-4 px-lg-5">Lorem</h1>
                <p style="text-align: justify;" class="px-2 px-md-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div id="carouselex" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselex" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselex" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselex" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif1.jpg" alt="" class="mb-3 shadow">
                    </div>
                    <div class="carousel-item gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif2.jpg" alt="" class="mb-3 shadow">
                    </div>
                    <div class="carousel-item gallery" data-bs-interval="1900">
                        <img src="assets/img/kurmatif3.jpg" alt="" class="mb-3 shadow">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselex" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon ms-lg-5" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselex" data-bs-slide="next">
                    <span class="carousel-control-next-icon me-lg-5" aria-hidden="true" style="color: #fff !important"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div>
                <h1 class="px-2 px-md-3 px-lg-5">Lorem</h1>
                <p style="text-align: justify;" class="px-2 px-md-4 px-lg-5 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>