<script src="assets/js/pagination.js"></script>

<div class="container-fluid py-5 text-center profile-page" style="margin-top: 50px;">
    <h1 class="font-righteous page-title border-bottom border-3">Berita</h1>
    <!-- <img src="assets/img/himatif_trbg.png" alt="" class="page-logo my-4"> -->

    <div class="berita">
        <div class="row line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news1.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Lorem Ipsum Dolor
                                Sit Amet</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">30/12/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>

        </div>



        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news2.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Lorem Ipsum Dolor
                                Sit Amet</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">21/09/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya1" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya1">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>



        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Lorem Ipsum Dolor
                                Sit Amet</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Lorem Ipsum Dolor
                                Sit Amet</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">Lorem Ipsum Dolor
                                Sit Amet</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">2</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">3</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5 mt-lg-0 line-content">
            <div class="col-lg-9 pb-3 text-center order-2 order-lg-0 mx-lg-auto">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-7 acara-img mt-lg-3">
                        <img src="assets/img/news3.jpg" alt="" class="shadow mw-100 border p-1 p-lg-2 mb-3 mb-lg-0">
                    </div>

                    <div class="col-lg-4 col-md-9 mx-md-auto ms-lg-4 bg-dark-blue acara-ket text-white mt-lg-3 rounded">
                        <div class="acara-title">
                            <h5 class="text-uppercase p-3 border-bottom border-2 border-warning mx-3">4</h5>
                        </div>
                        <div class="acara-explain">
                            <h6 class="text-start ps-3">07/08/2021</h6>
                            <p class="px-3 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut cumque
                                labore et? At esse, soluta quae error molestias fugiat laudantium dolorum dolorem
                                quibusdam nostrum saepe aspernatur qui sunt ipsum ea ...</p>
                        </div>
                        <button class="btn btn-outline-light border-3 px-3 mb-3 text-white" type="button"
                            data-bs-toggle="collapse" data-bs-target="#lihatSelengkapnya2" aria-expanded="false"
                            aria-controls="collapseExample">
                            Selengkapnya
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 collapse order-3 mx-lg-auto" id="lihatSelengkapnya2">
                <div class="card card-body" style="text-align: justify;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper dui in egestas fringilla.
                    Curabitur congue mattis enim, sit amet posuere magna volutpat quis. Pellentesque gravida velit quis
                    arcu condimentum lobortis. Phasellus malesuada, sapien nec tristique egestas, nisl est auctor nunc,
                    id porta erat nisl eget mi. Nullam eget urna eu arcu ultricies suscipit. Suspendisse convallis nisl
                    nec lacus lacinia efficitur. Sed purus elit, bibendum nec urna a, placerat tempus nisi. Curabitur
                    interdum feugiat nunc bibendum commodo.
                    Fusce ut urna sed urna consequat pulvinar a at risus. Donec cursus gravida sollicitudin. Sed
                    consectetur libero in tempor laoreet. Quisque a sodales arcu. Praesent vehicula urna nibh, quis
                    dictum turpis hendrerit dapibus. Nam luctus dui at convallis posuere. Ut non finibus libero, vitae
                    tincidunt erat. Integer accumsan dui vitae facilisis semper. Proin sed aliquet elit, semper
                    pellentesque turpis.
                    Cras pulvinar, quam condimentum ornare varius, diam ante laoreet tortor, non vehicula neque mauris a
                    elit. Duis congue vehicula risus, at aliquet risus hendrerit non. Fusce quis sollicitudin enim, sed
                    consectetur erat. Phasellus eget feugiat enim. Integer mauris leo, condimentum fermentum lorem ut,
                    euismod sodales lorem. Praesent egestas enim sed urna ullamcorper gravida. Suspendisse in mauris
                    dolor. Cras rhoncus eu enim a pulvinar.
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 mx-auto">
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                      <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                    </ul>
                </nav>
                <!-- <ul id="pagin">

                </ul> -->
            </div>
        </div>
    </div>
</div>