<div class="container-fluid py-5 text-center profile-page" style="margin-top: 50px;">
    <h1 class="font-righteous page-title border-bottom border-3">Profil</h1>
    <img src="assets/img/himatif_trbg.png" alt="" class="page-logo my-4">

    <div class="row mt-3 px-4 pt-2 bg-dark-blue px-lg-5 py-lg-3">
        <div class="col-lg-12 text-white profile-ctn py-3">
            <h1 class="border-bottom border-2 pt-2">SEJARAH</h1>
            <p class="pt-3 fw-lighter p-sejarah">
                HIMATIF (Himpunan Mahasiswa Program Studi Teknik Informatika) didirikan pada tanggal 7 Juni 2001 di Fakultas Sains dan Teknologi UIN Sultan Syarif Kasim Riau
            </p>
        </div>
    </div>

    <div class="row px-4 bg-dark-blue text-white px-lg-5 py-lg-3">
        <div class="col-lg-6 bg-dark-blue profile-ctn py-3 gx-lg-5">
            <h1 class="border-bottom border-2">VISI</h1>
            <p class="pt-3 fw-lighter">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eos praesentium culpa quia fugit dignissimos, consectetur vitae quisquam est exercitationem. Nulla ullam beatae sequi incidunt nisi soluta impedit aliquam perferendis!
            </p>
        </div>
        <div class="col-lg-6 bg-dark-blue profile-ctn py-3 gx-lg-5">
            <h1 class="border-bottom border-2">MISI</h1>
            <p class="pt-3 pb-2 fw-lighter pb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto at pariatur sequi minima rerum harum deserunt nemo nostrum aperiam ipsam! Eligendi deserunt laborum minima ipsam saepe distinctio perferendis porro voluptate.
            </p>
        </div>
    </div>



    <div>
        <h1 class="font-righteous page-title border-bottom border-3 mt-5">Struktur</h1>
        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-6 text-white profile-ctn py-3">
                <div class="ketua-wakil">
                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 ketua-img p-1 p-lg-2">
                </div>
                <div class="ketua-wakil-ket text-dark pt-2">
                    <h1 class="text-uppercase fw-bold">Dary Rahman</h1>
                    <p class="text-center">Ketua HIMATIF 2021/3003</p>
                </div>
            </div>

            <div class="col-lg-6 text-white profile-ctn py-3">
                <div class="ketua-wakil">
                    <img src="assets/img/wakil-exp.jpg" alt="Wakil Himatif" class="mw-100 wakil-img p-1 p-lg-2">
                </div>
                <div class="ketua-wakil-ket text-dark pt-2">
                    <h1 class="text-uppercase fw-bold">Rahman Dary</h1>
                    <p class="text-center">Wakil Ketua HIMATIF 2021/3003</p>
                </div>
            </div>
        </div>
    </div>
</div>