<div class="container-fluid py-5 text-center profile-page" style="margin-top: 50px;">
    <h1 class="font-righteous page-title border-bottom border-3">Profil</h1>
    <img src="assets/img/himatif_trbg.png" alt="" class="page-logo my-4">

    <div class="row mt-3 px-4 pt-2 bg-dark-blue px-lg-5 py-lg-3">
        <div class="col-lg-6 text-white profile-ctn py-3 mx-auto">
            <h1 class="border-bottom border-2 border-warning pt-2">SEJARAH</h1>
            <p class="pt-3 fw-lighter p-sejarah">
                HIMATIF (Himpunan Mahasiswa Program Studi Teknik Informatika) didirikan pada tanggal 7 Juni 2001 di
                Fakultas Sains dan Teknologi UIN Sultan Syarif Kasim Riau
            </p>
        </div>
    </div>

    <div class="row px-4 bg-dark-blue text-white px-lg-5 py-lg-3">
        <div class="col-lg-6 bg-dark-blue profile-ctn py-3 gx-lg-5">
            <h1 class="border-bottom border-2 border-warning">VISI</h1>
            <p class="pt-3 fw-lighter">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore eos praesentium culpa quia fugit
                dignissimos, consectetur vitae quisquam est exercitationem. Nulla ullam beatae sequi incidunt nisi
                soluta impedit aliquam perferendis!
            </p>
        </div>
        <div class="col-lg-6 bg-dark-blue profile-ctn py-3 gx-lg-5">
            <h1 class="border-bottom border-2 border-warning">MISI</h1>
            <p class="pt-3 pb-2 fw-lighter pb-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto at pariatur sequi minima rerum harum
                deserunt nemo nostrum aperiam ipsam! Eligendi deserunt laborum minima ipsam saepe distinctio perferendis
                porro voluptate.
            </p>
        </div>
    </div>

    <div class="row px-4 bg-dark-blue text-white px-lg-5">
        <div class="col-lg-6 text-white profile-ctn py-3 mx-auto">
            <h1 class="border-bottom border-2 border-warning pt-2">MAKNA LOGO</h1>
            <p class="pt-3 fw-lighter p-sejarah">
                HIMATIF (Himpunan Mahasiswa Program Studi Teknik Informatika) didirikan pada tanggal 7 Juni 2001 di
                Fakultas Sains dan Teknologi UIN Sultan Syarif Kasim Riau
            </p>
        </div>
    </div>

    <div class="row pb-2 px-4 bg-dark-blue text-white px-lg-5">
        <div class="col-lg-6 text-white profile-ctn py-lg-3 pb-3 mx-auto order-1 order-lg-0">
            <!-- <h1 class="border-bottom border-2 border-warning pt-2">BAJU PDH</h1>
            <p class="pt-3 fw-lighter p-sejarah">
                HIMATIF (Himpunan Mahasiswa Program Studi Teknik Informatika) didirikan pada tanggal 7 Juni 2001 di
                Fakultas Sains dan Teknologi UIN Sultan Syarif Kasim Riau
            </p> -->
            <img class="mw-100 rounded acara-img" src="assets/img/baju.png" alt="Baju Kebesaran Mahasiswa">
        </div>
        <div class="col-lg-6 text-white profile-ctn py-3 mx-auto order-0 order-lg-1">
            <h1 class="border-bottom border-2 border-warning pt-4">BAJU KEBESARAN MAHASISWA</h1>
            <p class="pt-3 fw-lighter p-sejarah text-lg-start">
                Berlogokan lambang UIN SUSKA, FKMTIF, PERMIKOMNAS, BENDERA MERAH PUTIH dan HIMATIF.
                <br>
            </p>
            <p>
                <strong>
                    Peletakan Logo:
                </strong>
                <br>
                Kanan: BENDERA, Kiri: UIN, Depan: HIMATIF,
                Belakang: FKMTIF (KANAN) & PERMIKOMNAS (KIRI)
            </p>
            <p>
                Warna : Biru Dongker
                <br>
                Bahan : Hightwist
            </p>
        </div>
    </div>

    <div>
        <h1 class="font-righteous page-title border-bottom border-3 mt-5">Struktur</h1>
        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-6 text-white profile-ctn py-3">
                <div class="ketua-wakil">
                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 ketua-img p-1 p-lg-2">
                </div>
                <div class="ketua-wakil-ket text-dark pt-2">
                    <h1 class="text-uppercase fw-bold">Dary Rahman</h1>
                    <p class="text-center">Ketua HIMATIF 2021/3003</p>
                </div>
            </div>

            <div class="col-lg-6 text-white profile-ctn py-3">
                <div class="ketua-wakil">
                    <img src="assets/img/wakil-exp.jpg" alt="Wakil Himatif" class="mw-100 wakil-img p-1 p-lg-2">
                </div>
                <div class="ketua-wakil-ket text-dark pt-2">
                    <h1 class="text-uppercase fw-bold">Rahman Dary</h1>
                    <p class="text-center">Wakil Ketua HIMATIF 2021/3003</p>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN <br>
                            AGAMA</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouseleag" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouseleag" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouseleag" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouseleag" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN FORENSIK
                        </h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouselefor" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselefor" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselefor" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselefor" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN INFOKOM
                        </h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouseleinf" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouseleinf" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouseleinf" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouseleinf" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN
                            ORIENTASI</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouseleori" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouseleori" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouseleori" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouseleori" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN
                            ARSITEKTUR</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouselears" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselears" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselears" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselears" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN
                            TECHNOPRENEURSHIP</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouseletec" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouseletec" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouseletec" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouseletec" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN
                            INTELEKTUAL</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouseleint" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouseleint" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouseleint" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouseleint" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3 mt-lg-5 px-4 pt-2 px-lg-5 py-lg-3">
            <div class="col-lg-10 pb-3 text-center order-2 order-lg-0 mx-lg-auto bg-dark-blue rounded">
                <div class="row px-3 px-lg-0">
                    <div class="col-lg-6 acara-img mt-lg-3 text-lg-end division-title text-white pt-2 py-lg-0">
                        <h1 class="font-righteous border-bottom border-lg-3 border-2 border-warning">DEPARTEMEN <br>
                            HUMAS</h1>
                        <p class="font-ruda">Periode 2021 - 3003</p>
                    </div>

                    <div class="col-lg-6 col-md-9 mx-md-auto acara-ket text-white mt-lg-3 rounded">
                        <div id="carouselehum" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselehum" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselehum" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselehum" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/wakil-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                                <div class="carousel-item acara-img" data-bs-interval="1900">
                                    <img src="assets/img/ketua-exp.jpg" alt="Ketua Himatif" class="mw-100 p-1 p-lg-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 100
        })
    });
</script>