<div class="jumbotron p-3 text-white text-center">
    <div class="jumbo-text">
        <h1 class="font-righteous">SALAM <span class="font-righteous text-light-blue">SATU SUARA!</span> PASTI!</h1>
        <p class="mb-2">HIMPUNAN MAHASISWA TEKNIK INFORMATIKA</p>
        <p>UNIVERSITAS NEGERI SULTAN SYARIF KASIM RIAU</p>
        <a href="?views=profile">
            <input type="button" class="btn border-3 fw-bold p-3 mt-md-4" value="PROFIL KAMI">
        </a>
    </div>
</div>



<div class="row me-0 ms-0 bg-acara">
    <div class="col-md-6 text-white text-center pt-5 pb-lg-5 px-3 px-0">
        <div class="title fw-bold py-md-3">
            <h4 class="fw-bold">VISI</h4>
        </div>
        <div class="vm-ctn pb-md-4 px-2 px-md-4 fw-lighter">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ducimus dolorem consequuntur laboriosam accusantium voluptate eveniet veniam dolore suscipit, odit, accusamus eius deleniti! Voluptatum quae quidem architecto consequatur modi at?
            </p>
        </div>
    </div>
    <div class="col-md-6 text-white text-center py-5 px-3">
        <div class="title fw-bold py-md-3">
            <h4 class="fw-bold">MISI</h4>
        </div>
        <div class="vm-ctn pb-md-4 px-2 px-md-4 fw-lighter">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique vitae perspiciatis nihil dolorem vero. Dolores aspernatur laudantium veritatis explicabo illum animi eum mollitia? Nulla repellendus fugit sit, assumenda vel accusantium?
            </p>
        </div>
    </div>
</div>