<!-- <?php

$views = $_GET['views'];

?> -->

<script>
    const url = window.location.search;
    const getUrl = new URLSearchParams(url);
    const urlVal = getUrl.get('views');
</script>

<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex ms-md-4" href="#">
            <img src="assets/img/himatif_trbg.png" alt="" class="d-inline-block align-text-top">
            <span class="logo ms-2 lh-1">
                <h2 class="font-righteous fw-bolder pt-1 lh-1 text-dark-blue">HIMATIF</h2>
                <p class="font-ruda fw-bold mb-0">UIN SUSKA RIAU</p>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-md-4" id="navbarNav">
            <ul class="navbar-nav">
                <script>
                    switch(urlVal) {
                        case "profile":
                            $(function() {
                                $('#profile').addClass('active');
                            });
                            break;
                        case "gallery":
                            $(function() {
                                $('#gallery').addClass('active');
                            });
                            break;
                        default:
                            $(function() {
                                $('#home').addClass('active');
                            });
                    }
    
                    $(document).ready(function() {
                        $('#contact').click(function() {
                            $('html, body').animate({
                                scrollTop: $('html, body').get(0).scrollHeight
                            }, 30);
                        });
                    })
                </script>
                <li class="nav-item px-md-2">
                    <!-- <a <?php echo ($views == 'dashboard' ? 'class="nav-link font-ruda active"' : 'class="nav-link font-ruda"'); ?> aria-current="page" href="?views=dashboard">Beranda</a> -->
                    <a class="nav-link font-ruda" id="home" aria-current="page" href="?views=dashboard">Beranda</a>
                </li>
                <li class="nav-item px-md-2">
                    <!-- <a <?php echo ($views == 'profile' ? 'class="nav-link font-ruda active"' : 'class="nav-link font-ruda"'); ?> href="?views=profile">Profil</a> -->
                    <a class="nav-link font-ruda" id="profile" href="?views=profile">Profil</a>
                </li>
                <li class="nav-item px-md-2">
                    <!-- <a <?php echo ($views == 'gallery' ? 'class="nav-link font-ruda active"' : 'class="nav-link font-ruda"'); ?> href="?views=gallery">Galeri</a> -->
                    <a class="nav-link font-ruda" id="gallery" href="?views=gallery">Galeri</a>
                </li>
                <li id="contact" class="nav-item px-md-2">
                    <a class="nav-link font-ruda" href="#">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->

<!-- <script>
    $(document).ready(function() {
        $('#Contact').click(function() {
            $('html, body').animate({
                scrollTop: $('html, body').get(0).scrollHeight
            }, 100);
        });
    })
</script> -->