<script>
    var url = window.location.search;
    var getUrl = new URLSearchParams(url);
    var urlVal = getUrl.get('views');
</script>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand d-flex ms-md-4" href="#">
            <img src="assets/img/himatif_trbg.png" alt="" class="d-inline-block align-text-top">
            <span class="logo ms-2 lh-1">
                <h2 class="font-righteous fw-bolder pt-1 lh-1 text-dark-blue">HIMATIF</h2>
                <p class="font-ruda fw-bold mb-0">UIN SUSKA RIAU</p>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end me-md-4" id="navbarNav">
            <ul class="navbar-nav">

                <script>
                    switch (urlVal) {
                        case "profile":
                            $(function () {
                                $('#profile').addClass('active');
                            });
                            break;

                        case "gallery":
                            $(function () {
                                $('#gallery').addClass('active');
                            });
                            break;

                        case "news":
                            $(function () {
                                $('#news').addClass('active');
                            });
                            break;

                        case "event":
                            $(function () {
                                $('#event').addClass('active');
                            });
                            break;

                        default:
                            $(function () {
                                $('#home').addClass('active');
                            });
                    }

                    $(document).ready(function () {
                        $('#contact').click(function () {
                            $('html, body').animate({
                                scrollTop: $('html, body').get(0).scrollHeight
                            }, 30);
                        });
                    })
                </script>

                <li class="nav-item px-md-2">
                    <a class="nav-link font-ruda" id="home" aria-current="page" href="?views=dashboard">Beranda</a>
                </li>
                <li class="nav-item px-md-2">
                    <a class="nav-link font-ruda" id="event" aria-current="page" href="?views=event">Acara</a>
                </li>
                <li class="nav-item px-md-2">
                    <a class="nav-link font-ruda" id="news" aria-current="page" href="?views=news">Berita</a>
                </li>
                <li class="nav-item px-md-2">
                    <a class="nav-link font-ruda" id="profile" href="?views=profile">Profil</a>
                </li>
                <li class="nav-item px-md-2">
                    <a class="nav-link font-ruda" id="gallery" href="?views=gallery">Galeri</a>
                </li>
                <li id="contact" class="nav-item px-md-2">
                    <a class="nav-link font-ruda" href="#">Kontak</a>
                </li>
            </ul>
        </div>
    </div>
</nav>